@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

@mixin center-skeleton($width) {
    margin-left: calc(50% - .5*#{$width});
}

.quickview-tab-skeleton {
    &-name .ant-skeleton-content .ant-skeleton-title  {
        height: 24px;
        width: 140px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    &-school .ant-skeleton-content .ant-skeleton-title  {
        height: 18px;
        width: 130px;
        margin-top: 0px;
        margin-bottom: 5px;
        @include center-skeleton(130px);
    }
    
    &-location .ant-skeleton-content .ant-skeleton-title  {
        height: 12px;
        width: 170px;
        margin-top: 0px;
        margin-bottom: 0px;
        @include center-skeleton(170px);
    }
    
    &-gpa .ant-skeleton-content .ant-skeleton-title  {
        height: 18px;
        width: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        @include center-skeleton(30px);
    }
    
    &-applied-for .ant-skeleton-content .ant-skeleton-title  {
        height: 18px;
        width: 130px;
        margin-top: 0px;
        margin-bottom: 0px;
        @include center-skeleton(130px);
    }
}

.detailedview-tab-skeleton {
    &-name .ant-skeleton-content .ant-skeleton-title  {
        height: 24px;
        width: 150px;
        margin-top: 0px;
        margin-bottom: 8px;
        padding: 0px;
    }

    &-city .ant-skeleton-content .ant-skeleton-title  {
        height: 14px;
        width: 100px;
        margin-top: 0px;
    }
    
    &-school .ant-skeleton-content .ant-skeleton-title  {
        height: 22px;
        width: 150px;
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: auto;
        padding: 0px;
    }

    &-school-address .ant-skeleton-content .ant-skeleton-title  {
        height: 14px;
        width: 200px;
        margin-top: 0px;
        margin-left: auto;
    }
    
    &-label .ant-skeleton-content .ant-skeleton-title  {
        height: 16px;
        width: 90px;
        margin-top: 0px;
        margin-bottom: 1.4em;
        margin-left: auto;
    }
    &-caption .ant-skeleton-content .ant-skeleton-title  {
        height: 16px;
        width: 250px;
        margin-top: 0px;
        margin-bottom: 1.4em;
    }
    
    &-list .ant-skeleton-content .ant-skeleton-title  {
        height: 16px;
        width: 250px;
        margin-top: 0px;
        margin-bottom: .75em;
    }
}

.student-card-skeleton-position .ant-skeleton-content .ant-skeleton-title  {
    height: 18px;
    width: 120px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.student-card-skeleton-tag .ant-skeleton-content .ant-skeleton-title  {
    height: 28px;
    width: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -20px;
}

.page-listing-skeleton-data  .ant-skeleton-content .ant-skeleton-title {
    position: relative;
    height: 20px;
    width: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

    //bad solution, don't copy lol
    margin-left: calc(50% - 10px);
  }

  .student-info-skeleton {
    &-header .ant-skeleton-content .ant-skeleton-title  {
        height: 36px;
        width: 150px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        padding: 0px;
        @include center-skeleton(150px);
    }
    
    &-sidebar .ant-skeleton-content .ant-skeleton-title  {
        height: 18px;
        width: 100%;
        margin-bottom: .5em;
        margin-top: 0px;
        padding: 0px;
    }

    &-name .ant-skeleton-content .ant-skeleton-title  {
        height: 48px;
        width: 325px;
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 0px;
    }
    
    &-position .ant-skeleton-content .ant-skeleton-title  {
        height: 24px;
        width: 200px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
    &-content .ant-skeleton-content .ant-skeleton-title  {
        height: 18px;
        width: 500px;
        margin-top: .25em;
        margin-bottom: .25em;
        padding: 0px;
    }
    
    &-tab .ant-skeleton-content .ant-skeleton-title  {
        height: 120px;
        width: 100%;
        margin-top: .5em;
        margin-bottom: .5em;
        padding: 0px;
    }
  }