@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.dragging-card-date {
  position: absolute;
  top: 2.2em;
  right: 2em;
}

.dragging-card-menu {
  position: absolute;
  top: 1.7em;
  right: 1.5em;
}

.dragging-card-button-read-application {
  position: absolute;
  bottom: 1em;
  left: 1.8em;

  color: #1890ff;

  &:hover {
    color: #40a9ff;
    transition: 0.3s ease;
  }
}
.dragging-card-button-remove {
  position: absolute;
  bottom: 1em;
  right: 1.8em;

  color: #f5222d;

  &:hover {
    color: #ff4d4f;
    transition: 0.3s ease;
  }
}

.dragging-card-add-tag-icon {
  position: absolute;
  right: 0px;

  @include font-size(28px);
  color: #bfbfbf;

  &:hover {
    color: #434343;
    transition: 0.3s ease;
  }
}

.dragging-card-tag {
  position: absolute;
  right: 0px;
}

.dragging-card-responsive-tab-container {
  position: relative;

    &:hover {
      box-shadow: 1px 1px 5px -1px #bfbfbf;
      transition: 0.3s ease;
      cursor: pointer;

      .click-more-icon {
        color: #595959;
        transition: 0.3s ease;
      }
    }

    &:active {
      box-shadow: 1px 1px 10px 0px #bfbfbf;
      transition: 0.3s ease;
      cursor: pointer;

      .click-more-icon {
        color: #595959;
        transition: 0.3s ease;
      }
    }
}
