@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.student-info-header {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: .25em;

    .student-info-icon {
        font-size: 25px;
        margin-bottom: 2px;
        margin-right: .25em;
        color: #002766;
    }
}
