@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.dashboard-container {
    height: 90vh; 
    display: flex; 
    flex-direction: column;
}

.dashboard-tab{
    margin-bottom: 12px;
    height: 80px;

    &:hover {
        transition-duration: 0.35s;
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
      }
}

.dashboard-progress{
    &:hover {
        transition-duration: 0.35s;
        cursor: pointer;
      }
}

.dashboard-pagination{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin: 0px 6px;

    &:hover {
        transition-duration: 0.35s;
        cursor: pointer;
        background-color: #606060;
      }

    &-current-page{
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background-color: #606060;
        margin: 0px 6px;
    
        &:hover {
            transition-duration: 0.35s;
            cursor: pointer;
          }
    }
}

.dashboard-noResult-button{
    background-color: #1890ff;
    color: #ffffff;
    // border: none;
    // border-radius: 50%;

    // &:hover {
    //     transition-duration: 0.35s;
    //     cursor: pointer;
    //     box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    //   }
}

/**
        SKELETONS
*/

.student-card-skeleton-name .ant-skeleton-content .ant-skeleton-title  {
    height: 22px;
    width: 150px;
    margin-top: 0px;
}

.student-card-skeleton-position .ant-skeleton-content .ant-skeleton-title  {
    height: 18px;
    width: 120px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.student-card-skeleton-tag .ant-skeleton-content .ant-skeleton-title  {
    height: 28px;
    width: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -20px;
}