//Margins
@mixin mt($name, $amount) {
  .mt-#{$name} {
    margin-top: #{$amount}em;
  }
}
@mixin mb($name, $amount) {
  .mb-#{$name} {
    margin-bottom: #{$amount}em;
  }
}
@mixin ml($name, $amount) {
  .ml-#{$name} {
    margin-left: #{$amount}em;
  }
}
@mixin mr($name, $amount) {
  .mr-#{$name} {
    margin-right: #{$amount}em;
  }
}
@mixin mx($name, $amount) {
  .mx-#{$name} {
    margin-left: #{$amount}em;
    margin-right: #{$amount}em;
  }
}
@mixin my($name, $amount) {
  .my-#{$name} {
    margin-top: #{$amount}em;
    margin-bottom: #{$amount}em;
  }
}
@mixin m($name, $amount) {
  .m-#{$name} {
    margin: #{$amount}em;
  }
}

//Padding
@mixin pt($name, $amount) {
  .pt-#{$name} {
    padding-top: #{$amount}em;
  }
}
@mixin pb($name, $amount) {
  .pb-#{$name} {
    padding-bottom: #{$amount}em;
  }
}
@mixin pl($name, $amount) {
  .pl-#{$name} {
    padding-left: #{$amount}em;
  }
}
@mixin pr($name, $amount) {
  .pr-#{$name} {
    padding-right: #{$amount}em;
  }
}
@mixin px($name, $amount) {
  .px-#{$name} {
    padding-right: #{$amount}em;
    padding-left: #{$amount}em;
  }
}
@mixin py($name, $amount) {
  .py-#{$name} {
    padding-top: #{$amount}em;
    padding-bottom: #{$amount}em;
  }
}
@mixin p($name, $amount) {
  .p-#{$name} {
    padding: #{$amount}em;
  }
}

@include mt("point-5", .5);
@include mt(1, 1);
@include mt("1-2", 1.2);
@include mt("1-5", 1.5);
@include mt(2, 2);
@include mt(3, 3);
@include mt(4, 4);
@include mt(5, 5);
@include mt(6, 6);
@include mt(7, 7);
@include mt(8, 8);
@include mt(9, 9);

@include mb("point-5", .5);
@include mb(1, 1);
@include mb("1-2", 1.2);
@include mb("1-5", 1.5);
@include mb(2, 2);
@include mb(3, 3);
@include mb(4, 4);
@include mb(5, 5);
@include mb(6, 6);
@include mb(7, 7);
@include mb(8, 8);
@include mb(9, 9);

@include ml("point-5", .5);
@include ml(1, 1);
@include ml("1-2", 1.2);
@include ml("1-5", 1.5);
@include ml(2, 2);
@include ml(3, 3);
@include ml(4, 4);
@include ml(5, 5);
@include ml(6, 6);
@include ml(7, 7);
@include ml(8, 8);
@include ml(9, 9);

@include mr("point-5", .5);
@include mr(1, 1);
@include mr("1-2", 1.2);
@include mr("1-5", 1.5);
@include mr(2, 2);
@include mr(3, 3);
@include mr(4, 4);
@include mr(5, 5);
@include mr(6, 6);
@include mr(7, 7);
@include mr(8, 8);
@include mr(9, 9);

@include mx("point-5", .5);
@include mx(1, 1);
@include mx("1-2", 1.2);
@include mx("1-5", 1.5);
@include mx(2, 2);
@include mx(3, 3);
@include mx(4, 4);
@include mx(5, 5);
@include mx(6, 6);
@include mx(7, 7);
@include mx(8, 8);
@include mx(9, 9);

@include my("point-5", .5);
@include my(1, 1);
@include my("1-2", 1.2);
@include my("1-5", 1.5);
@include my(2, 2);
@include my(3, 3);
@include my(4, 4);
@include my(5, 5);
@include my(6, 6);
@include my(7, 7);
@include my(8, 8);
@include my(9, 9);

@include m("point-5", .5);
@include m(1, 1);
@include m("1-2", 1.2);
@include m("1-5", 1.5);
@include m(2, 2);
@include m(3, 3);
@include m(4, 4);
@include m(5, 5);
@include m(6, 6);
@include m(7, 7);
@include m(8, 8);
@include m(9, 9);

@include pt("point-5", .5);
@include pt(1, 1);
@include pt("1-2", 1.2);
@include pt("1-5", 1.5);
@include pt(2, 2);
@include pt(3, 3);
@include pt(4, 4);
@include pt(5, 5);
@include pt(6, 6);
@include pt(7, 7);
@include pt(8, 8);
@include pt(9, 9);

@include pb("point-5", .5);
@include pb(1, 1);
@include pb("1-2", 1.2);
@include pb("1-5", 1.5);
@include pb(2, 2);
@include pb(3, 3);
@include pb(4, 4);
@include pb(5, 5);
@include pb(6, 6);
@include pb(7, 7);
@include pb(8, 8);
@include pb(9, 9);

@include pl("point-5", .5);
@include pl(1, 1);
@include pl("1-2", 1.2);
@include pl("1-5", 1.5);
@include pl(2, 2);
@include pl(3, 3);
@include pl(4, 4);
@include pl(5, 5);
@include pl(6, 6);
@include pl(7, 7);
@include pl(8, 8);
@include pl(9, 9);

@include pr("point-5", .5);
@include pr(1, 1);
@include pr("1-2", 1.2);
@include pr("1-5", 1.5);
@include pr(2, 2);
@include pr(3, 3);
@include pr(4, 4);
@include pr(5, 5);
@include pr(6, 6);
@include pr(7, 7);
@include pr(8, 8);
@include pr(9, 9);

@include px("point-5", .5);
@include px(1, 1);
@include px("1-2", 1.2);
@include px("1-5", 1.5);
@include px(2, 2);
@include px(3, 3);
@include px(4, 4);
@include px(5, 5);
@include px(6, 6);
@include px(7, 7);
@include px(8, 8);
@include px(9, 9);

@include py("point-5", .5);
@include py(1, 1);
@include py("1-2", 1.2);
@include py("1-5", 1.5);
@include py(2, 2);
@include py(3, 3);
@include py(4, 4);
@include py(5, 5);
@include py(6, 6);
@include py(7, 7);
@include py(8, 8);
@include py(9, 9);

@include p("point-5", .5);
@include p(1, 1);
@include p("1-2", 1.2);
@include p("1-5", 1.5);
@include p(2, 2);
@include p(3, 3);
@include p(4, 4);
@include p(5, 5);
@include p(6, 6);
@include p(7, 7);
@include p(8, 8);
@include p(9, 9);
