@import "../Globals/breakpoints";

.internship-posting {
  &-responsive-tab-container {
    position: relative;

    @include lg {
      padding-left: 3em;
      padding-right: 3em;
    }
    @include sm {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &-no-content-icon {
    color: #bfbfbf;
    @include font-size(48px);
    margin-bottom: 5px;
  }

  &-skeleton-header .ant-skeleton-content .ant-skeleton-title {
    height: 23px;
    width: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  &-skeleton-industry .ant-skeleton-content .ant-skeleton-title {
    position: relative;
    top: 5px;
    height: 18px;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  &-skeleton-status .ant-skeleton-content .ant-skeleton-title {
    height: 18px;
    width: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
    //bad solution, don't copy lol
    margin-left: calc(50% - 45px);
  }
  &-skeleton-applicants .ant-skeleton-content .ant-skeleton-title {
    position: relative;
    height: 30px;
    width: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    //bad solution, don't copy lol
    margin-left: calc(50% - 10px);
  }
}
