@import "../Globals/breakpoints";

.internship-posting {
  &-responsive-tab-container {
    @include lg {
      padding-left: 3em;
      padding-right: 3em;
    }
    @include sm {
        padding-left: 2em;
        padding-right: 2em;
      }
  }
}
