@import "./Sass/Globals/fontSize";
@import "./Sass/Globals/marginAndPadding";
@import "./Sass/Candidates/hiringPipeline";
@import "./Sass/LoginSignup/login";
@import "./Sass/InternshipPostings/internshipPostings";
@import "./Sass/MainPage/mainPage";
@import "./Sass/InternFeedback/internFeedback";
@import "./Sass/InternFeedback/internDashboard";
@import "./Sass/Globals/breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/*
==========================================================================================
******************************************************************************************

                            Variable Declarations

******************************************************************************************
==========================================================================================
*/
$background-color: #eceff9;
$gray-1: #ebeff2;
$gray-2: #e2e8ed;
$gray-4: #c5d1d8;
$gray-6: #a3b5bf;
$gray-8: #889aa5;
$gray-10: #677e8c;
$gray-13: #425866;
$gray-16: #23343f;
$gray-18: #121f26;

a:hover {
  cursor: pointer;
}

.global-container {
  background-color: $gray-1;
  height: 100vh;
}

.responsive-tab-container {
  position: relative;

    @include lg {
      padding-left: 3em;
      padding-right: 3em;
    }
    @include sm {
      padding-left: 1em;
      padding-right: 1em;
    }

    &:hover {
      box-shadow: 1px 1px 5px -1px #bfbfbf;
      transition: 0.3s ease;
      cursor: pointer;

      .click-more-icon {
        color: #595959;
        transition: 0.3s ease;
      }
    }

    &:active {
      box-shadow: 1px 1px 10px 0px #bfbfbf;
      transition: 0.3s ease;
      cursor: pointer;

      .click-more-icon {
        color: #595959;
        transition: 0.3s ease;
      }
    }
}

.click-more-icon {
  position: absolute;
  right: 1em;
  top: calc(50% - 12px);
  color: #bfbfbf;
}

.universal-left {
  text-align: left;
}

.universal-center {
  text-align: center;
  justify-content: center;
}

.universal-right {
  text-align: right;
  justify-content: right;
}

.universal-middle {
  align-items: center;
  align-self: center;
  vertical-align: middle;
}

.flex-left {
  justify-content: flex-start;
}
