@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.intern-dashboard {
  &-banner {
    background: rgb(22, 76, 126);
    background: linear-gradient(
      62deg,
      rgba(22, 76, 126, 1) 0%,
      rgba(127, 158, 243, 1) 99%
    );
    min-height: 275px;
    min-width: 500px;
  }

  &-navigation {
    min-height: 75px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
  }

  &-banner-text {
      color: white;
  }
}
