@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.student-intern-tab {
  &-responsive-tab-container {
    position: relative;

    @include lg {
      padding-left: 3em;
      padding-right: 3em;
    }
    @include sm {
      padding-left: 1em;
      padding-right: 1em;
    }

    &:hover {
      box-shadow: 1px 1px 5px -3px;
      transition: 0.3s ease;
      cursor: pointer;

      .student-intern-tab-click-more-icon {
        color: #595959;
        transition: 0.3s ease;
      }
    }
  }

  &-action-icon {
    color: #bfbfbf;

    @include lg {
      margin-left: 0.1em;
      margin-right: 0.1em;
      @include font-size(20px);
    }
  }

  &-feedback {
    &:hover {
      color: #722ed1;
      transition: 0.3s ease;
    }
  }

  &-grades {
    &:hover {
      color: #eb2f96;
      transition: 0.3s ease;
    }
  }

  &-timesheet {
    &:hover {
      color: #2f54eb;
      transition: 0.3s ease;
    }
  }

  &-click-more-icon {
    position: absolute;
    right: 1em;
    top: calc(50% - 12px);
    color: #bfbfbf;
  }
}
