@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.intern-dashboard {
  &-banner {
    background: rgb(22, 76, 126);
    background: linear-gradient(
      62deg,
      rgba(22, 76, 126, 1) 0%,
      rgba(127, 158, 243, 1) 99%
    );
    min-height: 275px;
    min-width: 500px;
  }

  &-mobile-menu {
    position: absolute;
    display: none;
    right: 2em;
    font-size: 28px;
    color: #ffffff;

    &:hover {
      cursor: pointer;
      opacity: 80%;
      transition: .3s ease;
    }

    @include md {
      display: inline;
    }
  }

  &-navigation {
    min-height: 75px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
  }

  &-banner-text {
    color: white;
  }

  &-shortened-feedback {
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 80%
      );
      pointer-events: none;
    }
  }

  &-attendance-approve {
    color: #bfbfbf;

    &:hover {
      color: #52c41a;
      cursor: pointer;
      transition: .3s ease;
    }
  }

  &-attendance-reject {
    color: #bfbfbf;

    &:hover {
      color: #f5222d;
      cursor: pointer;
      transition: .3s ease;
    }
  }
}
