@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.student-attendance {
  &-list {
    font-size: 16px;

    &:hover {
      color: #1890ff;
      cursor: pointer;
      transition: 0.3s ease;
    }
  }
  font-size: "16px";
}

.calendar-today {
  font-size: 14px;
  color: #1890ff;

  &:hover {
    background-color: #1890ff;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
  }
}

.attendance-list {
  &-row{
    padding: 8px 0px;
    border-bottom: 1px solid #e0e0e0;
  }

  &-container{
    height: 310px;
    overflow-y: scroll;
    padding-bottom: 2em;
  }
  
}

.attendance-calendar {
  box-shadow: 1px 3px 4px -4px;
  border: 0.01px solid #e0e0e0;
  border-radius: 10px;
  padding: 1em 0px;

}

.attendance-date {
  &-selected {
    width: 32px;
    text-align: center;
    background-color: #002D62;
    color: #fff;
  
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 2px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
  }

  &-worked {
    width: 32px;
    text-align: center;
    background-color: #91d5ff;
    color: #000000;
  
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 2px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
  }

  &-current{
    width: 32px;
    text-align: center;
    background-color: #d3d3d3;
    color: #000000;
  
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 2px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
  }

  &-default{
    width: 32px;
    text-align: center;
  
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 2px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
  }
}