@import "../Globals/breakpoints";
@import "../Globals/variables";
@import "../node_modules/rfs/scss";

.student-intern-tab {
  &-container {
    position: relative;
    padding: 2em 3em;

    @include md {
      padding-left: 2em;
      padding-right: 2em;
    }

    &:hover {
      box-shadow: 1px 1px 5px -1px #bfbfbf;
      transition: 0.3s ease;
      cursor: pointer;
    }

    &:active {
      box-shadow: 1px 1px 10px 0px #bfbfbf;
      transition: 0.3s ease;
      cursor: pointer;
    }
  }

  &-action-icon {
    color: #bfbfbf;

    @include lg {
      margin-left: 0.1em;
      margin-right: 0.1em;
      @include font-size(20px);
    }
  }

  &-feedback {
    &:hover {
      color: #722ed1;
      transition: 0.3s ease;
    }
  }

  &-grades {
    &:hover {
      color: #eb2f96;
      transition: 0.3s ease;
    }
  }

  &-timesheet {
    &:hover {
      color: #2f54eb;
      transition: 0.3s ease;
    }
  }

  &-click-more-icon {
    position: absolute;
    right: 1em;
    top: calc(50% - 12px);
    color: #bfbfbf;
  }
}
